@custom-variant dark (&:is(.dark *));

.dark {
  --background: oklch(0.2077 0.0398 265.75);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.22 0.06 245);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(24.325% 0.05053 264.952);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.6991 0.157 238.99);
  --primary-foreground: oklch(0.9288 0.0126 255.51);
  --secondary: oklch(0.2795 0.0368 260.03);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.6847 0.1479 237.32);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.3717 0.0392 257.29);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --grid-color: oklch(0.95 0.02 255 / 0.09);
  --grid-light: oklch(53.396% 0.09495 216.206);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --theme-darklike: 1;
  --card-backdrop: oklch(0 0 0 / 0.5);
  color-scheme: dark;
  --card-back-shadow: drop-shadow(0.9px 1.6px 1.4px rgba(0, 0, 0, 0.6)) drop-shadow(1.6px 3px 2.2px rgba(0, 0, 0, 0.3))
    drop-shadow(-0.6px -0.6px 0.6px rgba(255, 255, 255, 0.1));
}
