:root {
  --background: oklch(97.397% 0.00596 240.379);
  --foreground: oklch(0.195 0.02 255);
  --card: oklch(0.97 0.05 245);
  --card-foreground: oklch(0.195 0.02 255);
  --popover: oklch(0.99 0.008 255);
  --popover-foreground: oklch(0.195 0.02 255);
  --primary: oklch(60% 0.15 240);
  --primary-foreground: oklch(0.985 0.005 255);
  --secondary: oklch(0.945 0.02 245);
  --secondary-foreground: oklch(0.26 0.04 255);
  --muted: oklch(0.95 0.01 255);
  --muted-foreground: oklch(0.5 0.03 255);
  --accent: oklch(0.96 0.025 240);
  --accent-foreground: oklch(0.26 0.04 255);
  --destructive: oklch(0.56 0.22 25);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.9 0.01 255);
  --input: oklch(0.9 0.01 255);
  --ring: oklch(0.6 0.16 239);
  --grid-color: oklch(47.394% 0.03894 256.855 / 0.071);
  --grid-light: oklch(0.74 0.19 240);
  --chart-1: oklch(0.6 0.17 264.376);
  --chart-2: oklch(0.72 0.15 162.48);
  --chart-3: oklch(0.8 0.18 70.08);
  --chart-4: oklch(0.66 0.22 303.9);
  --chart-5: oklch(0.69 0.22 16.439);
  --sidebar: oklch(0.99 0.008 255);
  --sidebar-foreground: oklch(0.195 0.02 255);
  --sidebar-primary: oklch(0.6 0.16 239);
  --sidebar-primary-foreground: oklch(0.985 0.005 255);
  --sidebar-accent: oklch(0.96 0.025 240);
  --sidebar-accent-foreground: oklch(0.26 0.04 255);
  --sidebar-border: oklch(0.9 0.01 255);
  --sidebar-ring: oklch(0.6 0.16 239);
  --card-backdrop: oklch(1 0 0 / 0.6);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --card-back-shadow: drop-shadow(0.6px 1.2px 1px rgba(0, 0, 0, 0.28)) drop-shadow(1px 1.6px 1.4px rgba(0, 0, 0, 0.15))
    drop-shadow(-0.6px -0.6px 0.6px rgba(255, 255, 255, 0.4));
}
